.App {
  background-color:rgb(240, 224, 11);
  font-weight: bold;
  margin: 10px ;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  margin-bottom:100px;
  color: #61dafb;
  border:5px solid black;

}
.App.div.Link
{
  margin-left: 0px;
  color: rgb(236, 10, 10);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
